{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="space"style="height:650px;"></div>
  
    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row defHead ">
            <div class="col-md-3"></div>
          <div class="eight wide col-md-6 column">
            <h3 class="ui header" style="font-size: 0.1rem;">Who We Are</h3>
            <p>Welcome to <strong>Personal Development Institute</strong> whose mission is to unlock what is innately within every human being. We unlock human capital through training, teaching & coaching.

                Personal Development Institute has been in operation since 7th April, 2010. We have run various programs over the years reaching different age groups in Kenya and beyond.
                
                We are a market place platform that had helped many individuals to discover & clarify their life’s purpose, passion & unique gifts; and how that connects to their careers and enterprise.</p>
    
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row">
          <div class="center aligned column">
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQvpvNrkI5_zm4Kbdp6EYuLcoJ5Ije93aOxSpbOyiOdgbwFrA5y" style="margin-bottom: 30px;" alt="" width="100" height="100" >
            <p><i>"Some random text from the Head of Institution"</i></p>
          </div>
          <div class="column">
            {% include 'base/testimonial.html' %}
          </div>
        </div>
      </div>
    </div>
  
    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h3 class="ui head">What is unique about PDI?</h3>
        <p>It is a school with a different goal from what we are used to in traditional classrooms. PDI is practical in its approach and offers no sit-in examinations; we believe that life itself is a classroom with its own exams that are ongoing until we transition from this planet. However, we write term papers but in the form of 5-year strategic plans. The plans are life goals that our students pursue over the years. In our 9 years of operation, we have had the joy of our Alumni sharing their accomplishments after completing our programs 5 years or later having achieved over 80% of their goals.
            We run programs from as early as children aged 9 years, teens, young adults, adults and senior citizens (retired).
            For the various age groups, the classes are experiential, discussion-based and everyone becomes a LIFElong learner. We need to question life, learn life principles from experts and also hear what God’s perspective is on the issues that all of us find ourselves in from time to time.
            Every student has to learn more about whose they are, who they are, why they are and how to bring out who and why with friends, family and the society.</p>
      
        
  
    
  </div>
{% endblock %}