{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="display">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
    <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="/"><span>Personal</span>Development<span>Institute</span> </a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        
        <!-- Dropdown -->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Trm-classes
          </a>
          <div class="dropdown-menu" style="color: black;" >
            <a class="dropdown-item" href="{% url 'classes' %}#offerss">TRM for Children</a>
            <a class="dropdown-item" href="{% url 'classes' %}#offerss">TRM for Teens</a>
            <a class="dropdown-item" href="{% url 'classes' %}#offerss">TRM for Young Adults</a>
            <a class="dropdown-item" href="{% url 'classes' %}#last">TRM for Adults</a>
            <a class="dropdown-item" href="{% url 'classes' %}#last">TRM for Entrepreneurs</a>
            <a class="dropdown-item" href="{% url 'classes' %}#last">TRM for the Retired to Refired</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li> 
      </ul>
    </div>
    </div>
  </nav>
  
  <div class="banner">
    <div class="container">
      
      <div class="banner-text">      
       <div class="col-md-4">
        <img class="display_image" style="margin-right: 1000px;" src="{% static 'images/image.jpeg' %}" alt="">
       </div>
       <div class="col-md-12">
        <div class="banner-heading" style="opacity: 0; margin-left: 1000px;" >
            <div class="row welc " style="color:white" >Welcome to Personal Development Institute whose mission is to unlock what is innately within every human being. We unlock human capital through training, teaching & coaching.
              Personal Development Institute has been in operation since 7th April, 2010. We have run various programs over the years reaching different age groups in Kenya and beyond.              
              We are a market place platform that has helped many individuals to discover & clarify their life’s purpose, passion & unique gifts  </div>
        </div>
       </div>
    <div class="col-md-12">
      <br>
      <a href="{% url 'classes' %}">
      <button type="button"  class=" button btn btn-warning text-dark btn-banner">Get started</button>
      </a>
    </div>
  </div>
</div>
</div>
</div>
  </div>

<h4 class="ui horizontal header divider" id="divider suscribe">
  <a href="{% url 'home' %}#divider">Be the first to know</a>
</h4>
<div class="row">
   <div class="col-md-3"></div>
<div class="col-md-6">
     <div>
        <form id="suscribe" action="/" method="POST" >
            {% csrf_token %}
            {% bootstrap_form subscriberForm %}<br>
            <button type="submit" class="btn btn-outline-dark" style="margin-left: 250px;" >Subscribe</button>
        </form>
      </div>
</div>
  <div class="col-md-3"></div>
</div>
</div><br><br><br>
{% endblock %}